<?xml version="1.0"?>
<launch>

  <!-- Load joint velocity controller configuration from yaml file to parameter server -->
  <rosparam file="$(find acrobat_control)/config/acrobat_velocity_control.yaml" command="load" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="joint_state_controller joint1_velocity_controller" />

</launch>
