<?xml version="1.0"?>
<launch>

  <!-- load joint position controller configuration from yaml file to parameter server -->
  <rosparam file="$(find acrobat_control)/config/acrobat_position_control.yaml" command="load" />

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="joint_state_controller joint1_position_controller" />

</launch>
